.in {
    height: 15px !important;
    width: 15px !important;
}

.out {
    height: 35px !important;
    width: 35px !important;
}

.spaces {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    height: 60px;
}

.spaces__container {
    display: inline-flex;
    gap: 6px;
    margin: 0 16px;
}

.spaces__item {
    background-color: white;
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: capitalize;
    cursor: pointer;
    white-space: nowrap;
}